:root,
:host {
  --va-icon-vertical-align: middle;
  --va-icon-user-select: none;

  /* Small */
  --va-icon-small-size: 14px;

  /* Medium */
  --va-icon-size: 18px;

  /* Large */
  --va-icon-large-size: 24px;
}
