:root {
  --bg-header: #2450BE;
  --bg-preview-1: #2450BE;
  --bg-preview-2: #557DE2;
  --bg-partners: #335DC9;
  --bg-customize-1: #4D2CC1;
  --bg-customize-2: #847EE2;
  --bg-seamless: #F4F9FC;
  --bg-admin: #F4F9FC;
  
  --header-height: 4rem;
  --header-z-index: 2000;
}
