:root {
  --bg-header: #5887F9;
  --bg-preview-1: #5887F9;
  --bg-preview-2: #759EED;
  --bg-partners: #5986F0;
  --bg-customize-1: #8667F5;
  --bg-customize-2: #9799EE;
  --bg-seamless: #F4F9FC;
  --bg-admin: #F4F9FC;
  
  --header-height: 4rem;
  --header-z-index: 2000;
}
