:root{

  --va-switch-display: inline-block;
  --va-switch-margin-bottom: 1rem;

  /*Checker*/
  --va-switch-checker-position: absolute;
  --va-switch-checker-top: 0;
  --va-switch-checker-bottom: 0;
  --va-switch-checker-margin: auto 0.3rem;
  --va-switch-checker-transform: translateX(0);
  --va-switch-checker-height: 1.5rem;
  --va-switch-checker-width: 1.5rem;
  --va-switch-checker-background-color: #ffffff;
  --va-switch-checker-border-radius: 50%;
  --va-switch-checker-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  --va-switch-checker-transition: all 0.2s ease;
  --va-switch-checker-display: flex;
  --va-switch-checker-justify-content: center;
  --va-switch-checker-align-items: center;

  /*Checker Wrapper*/
  --va-switch-checker-wrapper-position: absolute;
  --va-switch-checker-wrapper-margin: auto;
  --va-switch-checker-wrapper-transform: translateX(0);
  --va-switch-checker-wrapper-top: 0;
  --va-switch-checker-wrapper-left: 0;
  --va-switch-checker-wrapper-bottom: 0;
  --va-switch-checker-wrapper-right: 0;
  --va-switch-checker-wrapper-width: 100%;
  --va-switch-checker-wrapper-height: 100%;
  --va-switch-checker-wrapper-transition: all 0.2s ease;
  --va-switch-checker-wrapper-pointer-events: none;

  /*Track*/
  --va-switch-track-display: flex;
  --va-switch-track-overflow: hidden;
  --va-switch-track-border-radius: 1rem;
  --va-switch-track-height: 100%;
  --va-switch-track-width: 100%;
  --va-switch-track-background: #ffffff;
  --va-switch-track-box-shadow: inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  --va-switch-track-transition: background-color 0.2s ease;

  /*Container*/
  --va-switch-container-display: inline-flex;
  --va-switch-container-align-items: center;
  --va-switch-container-padding: 0 0.3rem;

  /*Inner*/
  --va-switch-inner-cursor: pointer;
  --va-switch-inner-display: inline-block;
  --va-switch-inner-position: relative;
  --va-switch-inner-height: 2rem;
  --va-switch-inner-width: auto;
  --va-switch-inner-min-width: 4rem;
  --va-switch-inner-border-radius: 1rem;

  /*Small*/
  --va-switch-sm-inner-height: 1.5rem;
  --va-switch-sm-inner-width: auto;
  --va-switch-sm-inner-min-width: 3rem;

  /*Large*/
  --va-switch-lg-inner-height: 2.5rem;
  --va-switch-lg-inner-width: auto;
  --va-switch-lg-inner-min-width: 5rem;
}
