:root {
  --va-select-cursor: pointer;
  --va-select-dropdown-border-radius: 4px;
  --va-select-dropdown-background: var(--va-background-secondary);
  --va-select-box-shadow: 0 4px 8px rgba(59, 63, 73, 0.15);
  --va-select-min-width: var(--va-form-element-min-width);
}
