:root,
:host {
  /* Track */
  --va-slider-track-border-radius: 0.25rem;
  --va-slider-track-transition: 0.5s ease-out;
  --va-slider-track-opacity: 1;

  /* Pin */
  --va-slider-pin-transition: background-color 0.3s ease-out 0.1s;

  /* Handler */
  --va-slider-handler-width: 1.25rem;
  --va-slider-handler-height: 1.25rem;
  --va-slider-handler-border: 0.375rem solid;
  --va-slider-handler-border-radius: 50%;
  --va-slider-handler-outline: none !important;
  --va-slider-handler-left: -0.375rem;
  --va-slider-handler-transition: 0.5s ease-out;

  /* Dot */
  --va-slider-dot-transform: translate(-0.625rem, -0.625rem);
  --va-slider-dot-display: block;
  --va-slider-dot-width: 1.75rem;
  --va-slider-dot-height: 1.75rem;
  --va-slider-dot-border-radius: 50%;
  --va-slider-dot-opacity: 0.2;
  --va-slider-dot-pointer-events: none;

  /* Dot Value */
  --va-slider-dot-value-transform: translate(-50%, -100%);
  --va-slider-dot-value-user-select: none;
  --va-slider-dot-value-font-size: 0.625rem;
  --va-slider-dot-value-letter-spacing: 0.6px;
  --va-slider-dot-value-line-height: 1.2;
  --va-slider-dot-value-font-weight: 700;
  --va-slider-dot-value-text-transform: none;
  --va-slider-dot-value-white-space: nowrap;
  --va-slider-dot-color-unfocused: var(--va-background-element);

  /* Input Label */
  --va-slider-input-label-user-select: none;
  --va-slider-input-label-font-size: 0.625rem;
  --va-slider-input-label-letter-spacing: 0.6px;
  --va-slider-input-label-line-height: 1.2;
  --va-slider-input-label-font-weight: 700;
  --va-slider-input-label-text-transform: uppercase;
  --va-slider-input-label-inverse-user-select: none;
  --va-slider-input-label-inverse-font-size: 0.625rem;
  --va-slider-input-label-inverse-letter-spacing: 0.6px;
  --va-slider-input-label-inverse-line-height: 1.2;
  --va-slider-input-label-inverse-font-weight: 700;
  --va-slider-input-label-inverse-text-transform: uppercase;

  /* Horizontal */
  --va-slider-horizontal-input-wrapper-margin-right: 1rem;

  /* Horizontal Track */
  --va-slider-horizontal-track-height: 0.5rem;
  --va-slider-horizontal-track-width: 100%;

  /* Horizontal Track */
  --va-slider-horizontal-handler-transform: translateX(-50%);

  /* Horizontal Dot */
  --va-slider-horizontal-dot-value-top: -8px;
  --va-slider-horizontal-dot-value-left: 50%;

  /* Vertical */
  --va-slider-vertical-height: 100%;
  --va-slider-vertical-padding: 12px 0 12px 0;
  --va-slider-vertical-flex-direction: column;
  --va-slider-vertical-align-items: center;

  /* Vertical Label */
  --va-slider-vertical-label-margin-bottom: 0.625rem;
  --va-slider-vertical-label-inverse-left: -0.375rem;
  --va-slider-vertical-label-inverse-margin-top: 0.625rem;

  /* Vertical Input Wrapper */
  --va-slider-vertical-input-wrapper-max-width: 1rem;
  --va-slider-vertical-input-wrapper-min-width: 2.5rem;

  /* Vertical Track */
  --va-slider-vertical-track-height: 100%;
  --va-slider-vertical-track-width: 0.5rem;
  --va-slider-vertical-track-bottom: 0;

  /* Vertical Handler */
  --va-slider-vertical-handler-transform: translateY(50%);

  /* Vertical Dot Value */
  --va-slider-vertical-dot-value-top: 0.625rem;
  --va-slider-vertical-dot-value-left: 1.25rem;
}
