:root {
  --va-divider-display: flex;
  --va-divider-color: var(--va-background-secondary);

  /* This is a bit tricky one in case of a horizontal divider,
  but in fact, it adds gaps at the top and bottom of the divider line
  In case of a vertical divider, it adds gaps at the right and left as expected */
  --va-divider-margin: 0.5rem 0;
  --va-divider-line-width: 1px;
  --va-divider-border-top-style: solid;
  --va-divider-border-top-color: var(--va-divider-color);
  --va-divider-text-font-size: 0.875rem;
  --va-divider-text-line-height: 0;
  --va-divider-text-height: 0;
  --va-divider-text-vertical-align: middle;
  --va-divider-text-transform: translateY(-50%);

  /* This one adds offsets at the right and left for the given text orientation only for horizontal divider */
  --va-divider-text-horizontal-offset: 1.25rem;

  /* Vertical */
  --va-divider-vertical-margin: 0 var(--va-divider-margin);
  --va-divider-vertical-border-top: 0;
  --va-divider-vertical-border-right-width: 1px;
  --va-divider-vertical-border-right-style: solid;
  --va-divider-vertical-border-right-color: var(--va-divider-color);
  --va-divider-vertical-display: inline-flex;

  /* Inset */
  --va-divider-inset-horizontal-margin: 1rem;
  --va-divider-inset-margin: 0.5rem var(--va-divider-inset-horizontal-margin);

  /* Dashed */
  --va-divider-dashed-border-top-style: dashed;
}
