:root,
:host {
  --va-divider-display: flex;

  /* Margin around divider, not the same as CSS margin. Should be one value. */
  --va-divider-margin: 0.5rem;
  --va-divider-line-width: 1px;
  --va-divider-border-style: solid;
  --va-divider-text-font-size: 0.875rem;
  --va-divider-text-line-height: 0;
  --va-divider-text-height: 0;
  --va-divider-text-vertical-align: middle;
  --va-divider-text-transform: translateY(-50%);

  /* This one adds offsets at the right and left for the given text orientation only for horizontal divider */
  --va-divider-text-horizontal-offset: 1.25rem;

  /* Vertical */
  --va-divider-vertical-display: inline-flex;

  /* Inset */
  --va-divider-inset-horizontal-margin: 1rem;
  --va-divider-inset-margin: 0.5rem var(--va-divider-inset-horizontal-margin);

  /* Dashed */
  --va-divider-dashed-border-top-style: dashed;
}
