:root {
  --va-data-table-display: flex;
  --va-data-table-flex-direction: column;
  --va-data-table-align-items: flex-start;
  --va-data-table-overflow-x: auto;
  --va-data-table-margin-top: 1rem;
  --va-data-table-justify-content: center;
}
