:root {
  /* General */
  --va-badge-py: 0;
  --va-badge-font-size: 0.625rem;
  --va-badge-border: 0.125rem;
  --va-badge-size: calc(var(--va-badge-font-size) * var(--va-badge-line-height) + var(--va-badge-border) * 2);
  --va-badge-overlap: calc(var(--va-badge-size) / 3);
  --va-badge-display: inline-flex;
  --va-badge-position: relative;
  --va-badge-line-height: 1.4;
  --va-badge-margin: 0;

  /* Dot */
  --va-badge-dot-size: 0.5rem;

  /* Text wrapper */
  --va-badge-text-wrapper-transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  --va-badge-text-wrapper-display: inline-flex;
  --va-badge-text-wrapper-border: solid 0.125rem;
  --va-badge-text-wrapper-border-radius: 0.6rem;
  --va-badge-text-wrapper-font-weight: 700;
  --va-badge-text-wrapper-line-height: 1.4;
  --va-badge-text-wrapper-letter-spacing: 0.0375rem;
  --va-badge-text-wrapper-justify-content: center;
  --va-badge-text-wrapper-white-space: nowrap;
  --va-badge-text-wrapper-width: auto;
  --va-badge-text-wrapper-height: auto;
  --va-badge-text-wrapper-min-width: initial;
  --va-badge-text-wrapper-min-height: initial;
  --va-badge-text-wrapper-margin: 0;
  --va-badge-text-transform: uppercase;

  /* Text */
  --va-badge-text-py: 0;
  --va-badge-text-px: 0.25rem;
}
