:root {
  --va-modal-title-margin-bottom: 1.5rem;
  --va-modal-position: fixed;
  --va-modal-top: 0;
  --va-modal-left: 0;
  --va-modal-display: flex;
  --va-modal-width: 100%;
  --va-modal-height: 100%;
  --va-modal-align-items: center;
  --va-modal-justify-content: center;
  --va-modal-overflow: hidden;
  --va-modal-outline: 0;
  --va-modal-z-index: var(--va-z-index-teleport-overlay);
  --va-modal-container-z-index: 100;
  --va-modal-basic-duration: 0.3s;
  --va-modal-opacity-transition: opacity calc(var(--va-modal-basic-duration) * 0.5) cubic-bezier(1, 0.5, 0.8, 1);
  --va-modal-transform-transition: transform var(--va-modal-basic-duration) ease;

  /* Dialog */
  --va-modal-dialog-background: #ffffff;
  --va-modal-dialog-min-height: 3.125rem;
  --va-modal-dialog-height: fit-content;
  --va-modal-dialog-border-radius: 0.375rem;
  --va-modal-dialog-margin: 1rem;
  --va-modal-dialog-box-shadow: 0 4px 70px -18px #707070;
  --va-modal-dialog-max-width: 768px;
  --va-modal-dialog-max-height: calc(100vh - 2rem);
  --va-modal-dialog-position: relative;

  /* Fullscreen */
  --va-modal-overlay-position: fixed;
  --va-modal-overlay-top: 0;
  --va-modal-overlay-left: 0;
  --va-modal-overlay-z-index: calc(var(--va-modal-container-z-index) - 1);
  --va-modal-overlay-width: 100vw;
  --va-modal-overlay-height: 100vh;
  --va-modal-overlay-opacity-transition: opacity math.div(2 * var(--va-modal-basic-duration), 3) cubic-bezier(1, 0.5, 0.8, 1);
}
