.i-nav {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}

.i-nav-notification {
  @extend .i-nav;

  background: url('/src/assets/icons/nav-notifications.svg') no-repeat center;
}

.i-nav-color {
  @extend .i-nav;

  background: url('/src/assets/icons/nav-color.svg') no-repeat center;
}

.i-nav-messages {
  @extend .i-nav;

  background: url('/src/assets/icons/nav-messages.svg') no-repeat center;
}

.i-nav-search {
  @extend .i-nav;

  background: url('/src/assets/icons/nav-search.svg') no-repeat center;
}

.i-menu-expanded {
  @extend .i-nav;

  background: url('/src/assets/icons/menu-expanded.svg') no-repeat center;
}

.i-menu-collapsed {
  @extend .i-nav;

  background: url('/src/assets/icons/menu-collapsed.svg') no-repeat center center;
}
