:root {
  --va-scroll-container-scrollbar-gradient-to: var(--va-background-primary);
  --va-scroll-container-small-scrollbar-size: 4px;
  --va-scroll-container-scrollbar-size: 6px;
  --va-scroll-container-large-scrollbar-size: 8px;
}
