:root {
  --va-pagination-gap: 0.5rem;
  --va-pagination-input-background: var(--va-background-primary);
  --va-pagination-input-border-style: solid;
  --va-pagination-input-border-width: 1px 0;
  --va-pagination-input-text-align: center;
  --va-pagination-input-font-size: 1rem;
  --va-pagination-button-content-width: 0.5rem;
  --va-pagination-button-sm-size: var(--va-button-sm-size);
  --va-pagination-button-size: var(--va-button-size);
  --va-pagination-button-lg-size: var(--va-button-lg-ze);
}
