:root {
  --va-pagination-gap: 0.5rem;
  --va-pagination-input-border-style: solid;
  --va-pagination-input-border-width: 1px 0;
  --va-pagination-input-text-align: center;
  --va-pagination-input-font-size: 1rem;
  --va-pagination-button-content-width: 0.5rem;
}
