:root {
  --va-pagination-input-border-style: solid;
  --va-pagination-input-border-width: 2px 0;
  --va-pagination-input-text-align: center;
  --va-pagination-input-font-size: 1rem;
  --va-pagination-input-flat-border-top-width: 0;
}
