//
// See: https://github.com/ag-grid/ag-grid/blob/latest/community-modules/core/src/styles/ag-theme-base/sass/parts/_grid-borders.scss
// See: https://github.com/ag-grid/ag-grid/blob/latest/community-modules/core/src/styles/ag-theme-base/sass/parts/_grid-layout.scss
//
@mixin ag-vuestic-theme-part-grid {
  // ltr - left to right languages
  // rtl - right to left languages
  .ag-ltr,
  .ag-rtl {
    .ag-cell {
      border: none;
      padding-bottom: 0;
      padding-top: 0;
    }
    .ag-cell-inline-editing {
      padding: 0;
    }
    // keyboard focus
    .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
      border: none;
      background-color: var(--va-background-tertiary);
    }
  }

  @include vuestic-theme-striped();
  @include vuestic-theme-hoverable();
  @include vuestic-theme-clickable();
}

////////////////////////////////////////
// STRIPED MODE
////////////////////////////////////////
@mixin vuestic-theme-striped {
  &--striped {
    .ag-row-odd {
      background-color: var(--va-background-secondary);

      &.ag-row-selected {
        background-color: ag-param(selected-row-background-color);
      }
    }
  }
}

////////////////////////////////////////
// HOVERABlE MODE
////////////////////////////////////////
@mixin vuestic-theme-hoverable {
  &--hoverable {
    .ag-row {
      &:hover {
        background-color: ag-param(selected-row-background-color);
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: '';
          background: rgb(0, 0, 0);
          opacity: 0.1;
          z-index: 0;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

////////////////////////////////////////
// CLICKABLE MODE
////////////////////////////////////////
@mixin vuestic-theme-clickable {
  &--clickable {
    .ag-cell {
      cursor: pointer;
    }
  }
}
