:root {
  --va-file-upload-list-item-size-text-color: var(--va-secondary);
  --va-file-upload-list-item-border-radius: 0.375rem;
  --va-file-upload-list-item-background-color: var(--va-white);
  --va-file-upload-list-item-box-shadow: var(--va-box-shadow);
}
