// Accent
$primary: #154EC1;
$secondary: #767C88;

$success: #3D9209;
$danger: #E42222;
$warning: #FFD43A;

// Background Colors
$backgroundSecondary: #FFFFFF;
$backgroundElement: #EBF1F4;
$backgroundBorder: #DEE5F2;
$backgroundHoverable: #d4d9dc;

// Text Colors
$textPrimary: #262824;

// Misc
$shadow: rgba(0, 0, 0, 0.12);
$focus: #FFFF00;

// Inputs
$inputHorizontalPadding: 12px;
$inputBorderRadius: 4px;
$inputBorderColor: #e1e9f8;

// Dropdowns
$dropdownContentBorderRadius: 4px;
$dropdownContentBoxShadow: 0 0.25rem 0.5rem 0 $shadow;
$dropdownContentPadding: 0.5rem;