:root {
  --va-progress-bar-width: 100%;
  --va-progress-bar-position: relative;
  --va-progress-bar-overflow: hidden;
  --va-progress-bar-height: 0.5rem;

  /* Small */
  --va-progress-bar-sm-height: 2px;

  /* Large */
  --va-progress-bar-lg-height: 16px;

  /* Info */
  --va-progress-bar-info-font-weight: 700;
  --va-progress-bar-info-text-align: center;
  --va-progress-bar-info-text-transform: uppercase;

  /* Wrapper */
  --va-progress-bar--wrapper-position: relative;
  --va-progress-bar--wrapper-overflow: hidden;
  --va-progress-bar--wrapper-border-radius: 9999999px;

  /* Square */
  --va-progress-bar-square-border-radius: 0;

  /* Buffer */
  --va-progress-bar-buffer-position: absolute;
  --va-progress-bar-buffer-top: 0;
  //--va-progress-bar-buffer-height: inherit;
  //--va-progress-bar-buffer-border-radius: inherit;
  --va-progress-bar-buffer-opacity: 0.3;
  --va-progress-bar-buffer-transition: width ease 2s;

  /* Overlay */
  //--va-progress-bar-height: inherit;
  //--va-progress-bar-border-radius: inherit;
  --va-progress-bar-transition: width ease 2s;
  --va-progress-bar-text-align: center;
  --va-progress-bar-color: #ffffff;
  --va-progress-bar-letter-spacing: 0.6px;
  --va-progress-bar-line-height: 16px;
  --va-progress-bar-font-size: 12px;
  --va-progress-bar-font-weight: 700;
}
