:root,
:host {
  --va-inner-loading-position: relative;
  --va-inner-loading-min-width: fit-content;
  --va-inner-loading-width: 100%;
  --va-inner-loading-overlay-display: flex;
  --va-inner-loading-overlay-align-items: center;
  --va-inner-loading-overlay-justify-content: center;
  --va-inner-loading-overlay-position: absolute;
  --va-inner-loading-overlay-top: 0;
  --va-inner-loading-overlay-bottom: 0;
  --va-inner-loading-overlay-width: 100%;
  --va-inner-loading-overlay-background: var(--va-background-primary);
}
