:root {
  /* Circle */
  --va-progress-circle-position: relative;
  --va-progress-circle-overflow: hidden;

  /* Circle Wrapper */
  --va-progress-circle-wrapper-position: absolute;
  --va-progress-circle-wrapper-top: 0;
  --va-progress-circle-wrapper-left: 0;
  --va-progress-circle-wrapper-bottom: 0;
  --va-progress-circle-wrapper-right: 0;
  --va-progress-circle-wrapper-margin: auto;
  --va-progress-circle-wrapper-transform: rotate(-90deg);
  --va-progress-circle-wrapper-width: 80%;
  --va-progress-circle-wrapper-height: 80%;

  /* Circle Overlay */
  --va-progress-circle-overlay-transition: all ease 2s;

  /* Circle Info */
  --va-progress-circle-info-font-size: 0.75rem;
  --va-progress-circle-info-position: absolute;
  --va-progress-circle-info-left: 50%;
  --va-progress-circle-info-top: 50%;
  --va-progress-circle-info-transform: translate(-50%, -50%);
}
