:root,
:host {
  --va-sidebar-min-height: 100%;
  --va-sidebar-height: 100%;
  --va-sidebar-position: relative;
  --va-sidebar-top: 0;
  --va-sidebar-left: 0;
  --va-sidebar-transition: var(--va-transition);
  --va-sidebar-z-index: 1;

  /* Menu */
  --va-sidebar-menu-max-height: 100%;
  --va-sidebar-menu-margin-bottom: 0;
  --va-sidebar-menu-list-style: none;
  --va-sidebar-menu-padding-left: 0;
  --va-sidebar-menu-overflow-y: auto;
  --va-sidebar-menu-overflow-x: visible;

  /* SidebarItem */
  --va-sidebar-item-active-border-size: 4px;
  --va-sidebar-item-transition: var(--va-transition);

  /* SidebarItemContent */
  --va-sidebar-item-content-padding: 1rem;
  --va-sidebar-item-content-gap: 0.5rem;

  /* SidebarItemTitle */
  --va-sidebar-item-title-white-space: nowrap;
}
