@import "~ag-grid-community/dist/styles/ag-theme-base/sass/ag-theme-base-default-params";

$ag-theme-vuestic-default-params: (
    // COLOURS

    // BORDERS
    borders: false,

    // SIZING
    row-height: ag-derived(grid-size, $times: 11.5),
    header-height: ag-derived(grid-size, $times: 9.5),

    // FONTS

    // MISC
);

$ag-theme-vuestic-default-params: map-merge($ag-theme-base-default-params, $ag-theme-vuestic-default-params);

