@import "../resources/mixins";
@import "../resources/variables";
@import "./ag-theme-vuestic-default-params";
@import "~ag-grid-community/dist/styles/ag-theme-base/sass/ag-theme-base";

@mixin ag-theme-vuestic($params: ()) {
  // NOTES:
  // use ag-param($param-name) to use param value from _ag-theme-vuestic-default-params.scss

  @include ag-allow-color-param-access-with-ag-param(false);

  $params: ag-process-theme-variables($params, $ag-theme-vuestic-default-params);

  @include ag-theme-base($params);

  input[class^=ag-]:not([type]),
  input[class^=ag-][type=text],
  input[class^=ag-][type=number],
  input[class^=ag-][type=tel],
  input[class^=ag-][type=date],
  input[class^=ag-][type=datetime-local],
  textarea[class^=ag-] {
    background: var(--va-input-color);
    padding: 0 8px;
    font-family: ag-param(font-family);
    border: 1px solid var(--va-input-color);
    &:focus {
      //border: 1px solid $vue-darkest-blue; // header border color
      // or
      border: 1px solid $light-gray; // keyboard focus color
    }
  }

  // Filter styles
  .ag-popup-child {
    //padding: var(--va-dropdown-content-padding);
    padding: 0;
    border-radius: var(--va-dropdown-content-border-radius);
    &:not(.ag-tooltip-custom) {
      box-shadow: var(--va-dropdown-content-box-shadow);
    }
    .ag-simple-filter-body-wrapper {
      padding: var(--va-dropdown-content-padding);

      input[class^=ag-]:not([type]),
      input[class^=ag-][type=text],
      input[class^=ag-][type=number],
      input[class^=ag-][type=tel],
      input[class^=ag-][type=date],
      input[class^=ag-][type=datetime-local],
      textarea[class^=ag-] {

        height: ag-param(list-item-height);
        padding: 0 12px;
        border-radius: var(--va-input-border-radius);
        border: 1px solid var(--va-input-color);
      }
    }
  }
  // add more space for radio section
  .ag-filter-condition {
    padding: 10px 0;
  }


  ////////////////////////////////////////
  // Lists
  ////////////////////////////////////////
  .ag-list-item, .ag-virtual-list-item {
    //height: ag-param(list-item-height);
  }

  //@include ag-keyboard-focus((ag-virtual-list-item), 4px);

  .ag-select-list {
    //@include ag-color-property(background-color, background-color);
    //overflow-y: auto;
    //overflow-x: hidden;
  }

  .ag-list-item {
    //display: flex;
    //align-items: center;
    //white-space: nowrap;
    //overflow: hidden;
    //text-overflow: ellipsis;

    &.ag-active-item {
      //@include ag-color-property(background-color, row-hover-color);
      background-color: $light-gray2;
    }
  }

  .ag-select-list-item {
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    //padding-left: 4px;
    //padding-right: 4px;
    //cursor: default;
    //@include ag-selectable(none);
    span {
      //white-space: nowrap;
      //text-overflow: ellipsis;
      //overflow: hidden;
    }
  }

  ////////////////////////////////////////
  // TODO: Picker
  ////////////////////////////////////////
  .ag-select {
    .ag-picker-field-wrapper {
      cursor: pointer;
      padding: 0 var(--va-input-content-horizontal-padding);
      background: var(--va-input-color);
      border: 1px solid $light-gray;
      border-radius: var(--va-input-border-radius);
      //@include ag-color-property(background-color, background-color);
      //min-height: ag-param(list-item-height);
      //cursor: default;
    }

    &.ag-disabled .ag-picker-field-wrapper:focus {
      //box-shadow: none;
    }

    &:not(.ag-cell-editor) {
      //height: ag-param(list-item-height);
    }
    .ag-picker-field-display {
      margin: 0;
      //margin: 4px;
      //white-space: nowrap;
      //overflow: hidden;
      //text-overflow: ellipsis;
    }
    .ag-picker-field-icon {
      //display: flex;
      //align-items: center;
    }
    &.ag-disabled {
      //opacity: 0.5;
    }
  }

  ////////////////////////////////////////
  // TODO: Radio
  ////////////////////////////////////////
  .ag-radio-button-input-wrapper {
    //@include ag-icon();
    $radio-size: 22px;
    //width: ag-param(icon-size);
    //height: ag-param(icon-size);
    width: $radio-size;
    height: $radio-size;

    & input, input {
      //-webkit-appearance: none;
      //opacity: 0;
      //width: 100%;
      //height: 100%;
    }

    //@include ag-color-property(background-color, checkbox-background-color);
    //border-radius: ag-param(checkbox-border-radius);
    //display: inline-block;
    //vertical-align: middle;
    //flex: none;

    &:focus-within, &:active {
      //outline: none;
      //box-shadow: ag-param(input-focus-box-shadow);
    }

    &.ag-disabled {
      //opacity: 0.5;
    }

    //radio
    //border-radius: ag-param(icon-size);

    &::after {
      //content: ag-icon-char(radio-button-off);
      //@include ag-color-property(color, checkbox-unchecked-color);
      //position: absolute;
      //top: 0;
      //left: 0;
      //pointer-events: none;

      font-size: $radio-size;
      color: $lighter-gray;
      line-height: $radio-size;
    }
    //TODO: border on hover
    //&:hover {
    //  &::before {
    //    content: '';
    //    position: absolute;
    //    z-index: 2;
    //    top: -2px;
    //    left: -2px;
    //    pointer-events: none;
    //    height: calc(22px + 4px);
    //    width: calc(22px + 4px);
    //    background: rgba(255, 255, 0, 0.45);
    //    border-radius: 50%;
    //  }
    //}

    &.ag-checked::after {
      //content: ag-icon-char(radio-button-on);
      //@include ag-color-property(color, checkbox-checked-color);
      //position: absolute;
      //top: 0;
      //left: 0;
      //pointer-events: none;
      font-size: $radio-size;
      color: $vue-darkest-blue;
    }
  }

  .ag-header {
    border-bottom-width: 2px;
  }

  .ag-header-cell-label, .ag-header-group-cell-label {
    @include va-title();
  }

  // ltr - left to right languages
  // rtl - right to left languages
  .ag-ltr, .ag-rtl {
    .ag-cell {
      border :none;
    }

    // keyboard focus
    .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
      border: none;
      background-color: $light-gray;
    }
  }

  .ag-keyboard-focus .ag-header-cell {
    &:focus {
      background: $light-gray;

      &::after {
        display: none;
      }
    }
  }

  ////////////////////////////////////////
  // TODO: STRIPED MODE
  ////////////////////////////////////////
  &--striped {
    .ag-row-odd {
      background-color: $light-gray3;

      &.ag-row-selected {
        background-color: ag-param(selected-row-background-color);
      }
    }
  }

  ////////////////////////////////////////
  // TODO: HOVERABlE MODE
  ////////////////////////////////////////
  &--hoverable {
    .ag-row {
      &:hover {
        background-color: ag-param(selected-row-background-color);
      }
    }
  }

  ////////////////////////////////////////
  // TODO: CLICKABLE MODE
  ////////////////////////////////////////
  &--clickable {
    .ag-cell {
      //cursor: pointer;
    }
  }
}
