@import "../resources/mixins";
@import "../resources/variables";
@import "./ag-theme-vuestic-default-params";
@import "~ag-grid-community/dist/styles/ag-theme-base/sass/ag-theme-base";

@mixin ag-theme-vuestic($params: ()) {
  @include ag-allow-color-param-access-with-ag-param(false);

  $params: ag-process-theme-variables($params, $ag-theme-vuestic-default-params);

  @include ag-theme-base($params);

  .ag-header {
    border-bottom-width: 2px;
  }

  .ag-pinned-left-header,
  .ag-cell-last-left-pinned {
    //border-right-width: 2px;
  }

  .ag-pinned-right-header,
  .ag-cell-last-right-pinned {
    //border-left-width: 2px;
  }

  .ag-cell {
    border: none;
  }

  .ag-header-cell-label {
    @include va-title();
  }

  &--striped {
    .ag-row {
      &:nth-child(even) {
        background-color: $light-gray3;
        &.ag-row-selected {
          background-color: $light-gray2;
        }
      }
    }
  }

  &--hoverable {
    .ag-row {
      &:hover {
        .ag-cell {
          //background-color: $light-gray2;
        }
      }
    }
  }

  &--clickable {
    .ag-cell {
      //cursor: pointer;
    }
  }
}
