:root {
  --va-tabs-position: relative;
  --va-tabs-wrapper-display: flex;

  /* Container */
  --va-tabs-container-overflow: hidden;
  --va-tabs-container-flex: 1 1 auto;
  --va-tabs-container-display: flex;
  --va-tabs-container-height: 1.9325rem;
  --va-tabs-container-margin: 0 3px;
  --va-tabs-container-white-space: nowrap;
  --va-tabs-container-position: relative;

  /* Slider */
  --va-tabs-slider-width: 0.125rem;
  --va-tabs-slider-height: 0.125rem;
  --va-tabs-slider-transition: transform ease 0.3s;

  /* Slider Wrapper */
  --va-tabs-slider-wrapper-bottom: 0;
  --va-tabs-slider-wrapper-margin: 0 !important;
  --va-tabs-slider-wrapper-position: absolute;
  --va-tabs-slider-wrapper-z-index: 4000;
  --va-tabs-slider-wrapper-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
