:root,
:host {
  /* General */
  --va-button-display: inline-flex;
  --va-button-justify-content: center;
  --va-button-align-items: center;
  --va-button-background-image: none;
  --va-button-box-shadow: none;
  --va-button-border-width: 0;
  --va-button-border-color: unset;
  --va-button-border-style: none;
  --va-button-font-weight: 600;
  --va-button-transition: none;
  --va-button-padding: 0;
  --va-button-cursor: pointer;

  /* Medium */
  --va-button-size: 2.25rem;
  --va-button-content-py: 0.5rem;
  --va-button-content-px: 0.75rem;
  --va-button-only-icon-content-px: 0.5rem;
  --va-button-font-size: 1rem;
  --va-button-letter-spacing: 0;
  --va-button-line-height: 1.25rem;
  --va-button-border-radius: 0.25rem;
  --va-button-icon-side-padding: var(--va-button-content-px);
  --va-button-icons-spacing: var(--va-gap-medium);
  --va-button-loader-size: 24px;

  /* Bordered */
  --va-button-bordered-border: 1px;
  --va-button-bordered-style: solid;
}
