:root,
:host {
  /* General */
  --va-button-display: inline-flex;
  --va-button-justify-content: center;
  --va-button-align-items: center;
  --va-button-background-image: none;
  --va-button-box-shadow: none;
  --va-button-border-width: 0;
  --va-button-border-color: unset;
  --va-button-border-style: none;
  --va-button-font-weight: 600;
  --va-button-transition: none;
  --va-button-padding: 0;
  --va-button-cursor: pointer;

  /* Small */
  --va-button-sm-size: 1.5rem;
  --va-button-sm-content-py: 0.25rem;
  --va-button-sm-content-px: 0.375rem;
  --va-button-sm-only-icon-content-px: 0.25rem;
  --va-button-sm-font-size: 0.8125rem;
  --va-button-sm-letter-spacing: 0;
  --va-button-sm-line-height: 1rem;
  --va-button-sm-border-radius: 0.125rem;
  --va-button-sm-icon-side-padding: var(--va-button-sm-content-py);
  --va-button-sm-icons-spacing: 0.125rem;

  /* Medium */
  --va-button-size: 2.25rem;
  --va-button-content-py: 0.5rem;
  --va-button-content-px: 0.75rem;
  --va-button-only-icon-content-px: 0.5rem;
  --va-button-font-size: 0.9375rem;
  --va-button-letter-spacing: 0;
  --va-button-line-height: 1.25rem;
  --va-button-border-radius: 0.25rem;
  --va-button-icon-side-padding: var(--va-button-content-py);
  --va-button-icons-spacing: 0.25rem;

  /* Large */
  --va-button-lg-size: 3rem;
  --va-button-lg-content-py: 0.75rem;
  --va-button-lg-content-px: 1rem;
  --va-button-lg-only-icon-content-px: 1rem;
  --va-button-lg-font-size: 1.05rem;
  --va-button-lg-letter-spacing: 0;
  --va-button-lg-line-height: 1.5rem;
  --va-button-lg-border-radius: 0.5rem;
  --va-button-lg-icon-side-padding: var(--va-button-lg-content-py);
  --va-button-lg-icons-spacing: 0.25rem;

  /* Bordered */
  --va-button-bordered-border: 1px;
  --va-button-bordered-style: solid;
}
