:root {
  --va-select-option-list-width: 100%;
  --va-select-option-list-max-height: 12.5rem;

  /* Group name */
  --va-select-option-list-group-name-padding: 1rem 0.75rem 0.375rem;
  --va-select-option-list-group-name-font-size: 0.6rem;
  --va-select-option-list-group-name-color: var(--va-primary);
  --va-select-option-list-group-name-font-weight: 700;
  --va-select-option-list-group-name-text-transform: 'uppercase';

  /* Empty block */
  --va-select-option-list-empty-padding: 0.5rem;
}
