:root,
:host {
  /* General */
  --va-avatar-display: inline-flex;
  --va-avatar-align-items: center;
  --va-avatar-justify-content: center;
  --va-avatar-text-align: center;
  --va-avatar-vertical-align: middle;
  --va-avatar-position: relative;
  --va-avatar-line-height: normal;
  --va-avatar-border-radius: 50%;

  /* Small */
  --va-avatar-small-size: 32px;

  /* Medium */
  --va-avatar-size: 48px;

  /* Large */
  --va-avatar-large-size: 64px;
}
