:root,
:host {
  /* General */
  --va-avatar-display: inline-flex;
  --va-avatar-align-items: center;
  --va-avatar-justify-content: center;
  --va-avatar-text-align: center;
  --va-avatar-vertical-align: middle;
  --va-avatar-position: relative;
  --va-avatar-line-height: normal;
  --va-avatar-border-radius: 50%;
  --va-avatar-object-fit: cover;
}
