:root {
  --va-input-color: var(--va-background, #f5f9fb);
  --va-input-text-color: var(--va-dark, #262824);
  --va-input-bordered-color: var(--va-divided, #e1e9f8);
  --va-input-border-width: 2px;
  --va-input-border-radius: 4px;
  --va-input-min-height: 36px;

  /* Success */
  --va-input-success-color: var(--va-success);
  --va-input-success-background: #f1f7ee;

  /* Error */
  --va-input-error-color: var(--va-danger);
  --va-input-error-background: #fdefef;
  --va-input-scroll-color: var(--grey, #bac2bb);

  /* Input&Textarea */
  --va-input-border-style: none;
  --va-input-outline: none;
  --va-input-line-height: 20px;
  --va-input-font-size: 1rem;
  --va-input-font-family: 'Source Sans Pro', sans-serif;
  --va-input-font-weight: normal;
  --va-input-font-style: normal;
  --va-input-font-stretch: normal;
  --va-input-letter-spacing: normal;
  --va-input-letter-placeholder-color: #bac2bb;
  --va-input-letter-disabled-opacity: 0.4;
  --va-input-container-display: flex;
  --va-input-container-position: relative;
  --va-input-container-width: 100%;
  --va-input-container-min-height: 2.375rem;
  --va-input-container-border-style: solid;
  --va-input-container-border-width: 2px;
  --va-input-container-border-radius: 4px;

  /* Content Wrapper */
  --va-input-content-horizontal-padding: 12px;
  --va-input-content-items-gap: 6px;

  /* Append Inner */
  --va-input-container-append-inner-display: flex;
  --va-input-container-append-inner-align-items: center;
  --va-input-container-append-inner-margin-right: 0.5rem;

  /* Prepend Inner */
  --va-input-container-prepend-inner-display: flex;
  --va-input-container-prepend-inner-align-items: center;
  --va-input-container-prepend-inner-margin-left: 0.5rem;

  /* Label */
  --va-input-container-label-max-width: calc(100% - 0.75rem);
  --va-input-container-label-color: #4ae387;
  --va-input-container-label-font-size: 0.6rem;
  --va-input-container-label-letter-spacing: 0.0375rem;
  --va-input-container-label-line-height: 1.2;
  --va-input-container-label-font-weight: 700;
  --va-input-container-label-text-transform: uppercase;
  --va-input-container-label-transform-origin: top left;
}
