:root {
  --va-select-display: flex;
  --va-select-align-items: stretch;
  --va-select-cursor: pointer;
  --va-select-width: 100%;
  --va-select-min-height: 2.375rem;
  --va-select-border-style: solid;
  --va-select-border-width: 0 0 thin 0;
  --va-select-border-top-left-radius: 0.5rem;
  --va-select-border-top-right-radius: 0.5rem;
  --va-select-margin-bottom: 1rem;
  --va-select-transition: ease-in-out border-bottom-color 0.25s;

  /*Content wrapper*/
  --va-select-content-wrapper-display: flex;
  --va-select-content-wrapper-justify-content: space-between;
  --va-select-content-wrapper-align-items: stretch;
  --va-select-content-wrapper-width: 100%;
  --va-select-content-wrapper-padding: 0 0.5rem;

  /*Content*/
  --va-select-content-display: flex;
  --va-select-content-width: 100%;
  --va-select-content-justify-content: space-between;
  --va-select-content-align-items: stretch;

  /*Label*/
  --va-select-label-padding-top: 0.125rem;
  --va-select-label-position: absolute;
  --va-select-label-top: 0;
  --va-select-label-right: auto;
  --va-select-label-max-width: 90%;
  --va-select-label-transition: ease-in-out color 0.25s;

  /*Selection*/
  --va-select-selection-width: 100%;
  --va-select-selection-display: flex;
  --va-select-selection-padding: 0.125rem 0;
  --va-select-selection-margin-top: 0.125rem;
  --va-select-selection-align-items: center;
  --va-select-selection-white-space: normal;
  --va-select-selection-overflow: hidden;
  --va-select-selection-text-overflow: ellipsis;

  /*Placeholder*/
  --va-select-placeholder-color: #babfc2;
  --va-select-placeholder-opacity: 0.8;
  --va-select-placeholder-display: -webkit-box;
  --va-select-placeholder-overflow: hidden;
  --va-select-placeholder-text-overflow: ellipsis;
  --va-select-placeholder--webkit-line-clamp: 2;
  --va-select-placeholder--webkit-box-orient: vertical;
  --va-select-placeholder--webkit-box-align: start;
  --va-select-placeholder--webkit-box-pack: center;

  /*Input*/
  --va-select-input-border: none;
  --va-select-input-background: transparent;
  --va-select-input-padding: 0.25rem 0;
  --va-select-input-font-size: 1rem;
  --va-select-input-font-family: 'Source Sans Pro', sans-serif;
  --va-select-input-font-weight: normal;
  --va-select-input-font-style: normal;
  --va-select-input-font-stretch: normal;
  --va-select-input-line-height: 1.5;
  --va-select-input-letter-spacing: normal;
  --va-select-input-white-space: nowrap;
  --va-select-input-text-overflow: ellipsis;
  --va-select-input-overflow: hidden;

  /*Icon*/
  --va-select-icon-padding-left: 0.25rem;

  /*Prepend slot*/
  --va-select-prepend-slot-padding-right: 0.5rem;

  /*Append slot*/
  --va-select-append-slot-padding-left: 0.25rem;

  /*Dropdown*/
  --va-select-dropdown-outline: none;
  --va-select-dropdown-margin: 0;
  --va-select-dropdown-padding: 0;
  --va-select-dropdown-background: #f5f8f9;
  --va-select-dropdown-border-radius: 0.5rem;

  /*Dropdown content*/
  --va-select-dropdown-content-background-color: #f5f8f9;
  --va-select-dropdown-content-margin: 0;
  --va-select-dropdown-content-padding: 0;
  --va-select-dropdown-content-overflow-y: auto;
  --va-select-dropdown-content-box-shadow: 0 2px 3px 0 rgba(98, 106, 119, 0.25);
  --va-select-dropdown-content-border-radius: 0 0 0.5rem 0.5rem;
}
