:root {
  --va-file-upload-undo-height: 1.5rem;
  --va-file-upload-undo-button-line-height: 1.1428;
  --va-file-upload-undo-button-margin-top: 0;
  --va-file-upload-undo-button-margin-bottom: 0;
  --va-file-upload-undo-margin-left: 0.5rem;
}
