:root,
:host {
  --va-message-list-margin-top: 4px;
  --va-message-list-vertical-align: middle;
  --va-message-list-color: var(--va-secondary);
  --va-message-list-font-size: 13px;
  --va-message-list-line-height: 16px;
  --va-message-list-icon-font-size: 16px;
  --va-message-list-icon-margin-right: 4px;
}
