:root,
:host {
  --va-rating-display: flex;

  /* Number item */
  --va-rating-number-item-margin: 0.1em;
  --va-rating-number-item-font-weight: 700;
  --va-rating-number-item-cursor: pointer;

  /* Item wrapper */
  --va-rating-item-wrapper-cursor: pointer;

  /* Small */
  --va-rating-number-item-small-size: 14px;

  /* Medium */
  --va-rating-number-item-size: 18px;

  /* Large */
  --va-rating-number-item-large-size: 24px;
}
