<template>
  <div>Hello</div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  name: 'Va{{properCase name}}',
})
export default class Va{{properCase name}} extends Vue {

}
</script>
<style>
.va-{{kebabCase name}} {}
</style>
