:root {
  --va-breadcrumbs-display: flex;
  --va-breadcrumbs-width: 100%;
  --va-breadcrumbs-justify-content: center;
  /*Item*/
  --va-breadcrumbs-item-display: inline-flex;
  /*Separator*/
  --va-breadcrumbs-separator-padding: 0 0.5rem;
  --va-breadcrumbs-separator-display: inline-flex;
}
