// TODO: Create toggle from white to black theme
// Style overrides for vue-book to make it less of a flashbang.

// TODO: Remove this. Theme changed only for useElementBackground  demo.
$book-background: #333533;
$book-background--mute: #202020;
$book-background--soft: #46494c;

$book-text: #dcdcdd;

.VbDemo {
  background: $book-background--mute !important;
}

.VbCard {
  background: $book-background !important;

  &__title {
    background: $book-background--soft !important;
    color: $book-text !important;
  }
}

.VbPage {
  &__search-input {
    background: $book-background--soft !important;
    color: $book-text !important;
  }

  .DemoFileList {
    background: $book-background !important;
    color: $book-text !important;
  }

  .BookComponentListItem {
    color: $book-text !important;
  }
}
