:root {
  --va-input-color: var(--va-background, #f5f9fb);
  --va-input-text-color: var(--va-dark, #262824);
  --va-input-scroll-color: var(--va-divided, #e1e9f8);
  --va-input-bordered-color: var(--va-divided, #e1e9f8);
  --va-input-border-width: 1px;
  --va-input-border-radius: 4px;
  --va-input-min-height: 36px;
  --va-input-cursor: text;

  /* Success */
  --va-input-success-color: var(--va-success);
  --va-input-success-background: #f1f7ee;

  /* Error */
  --va-input-error-color: var(--va-danger);
  --va-input-error-background: #fdefef;

  /* Content Wrapper */
  --va-input-content-horizontal-padding: 12px;
  --va-input-content-items-gap: 6px;

  /* Input&Textarea */
  --va-input-line-height: 20px;
  --va-input-font-size: 1rem;
  --va-input-font-weight: normal;
  --va-input-font-style: normal;
  --va-input-font-stretch: normal;
  --va-input-letter-spacing: normal;
  --va-input-placeholder-text-color: #bac2bb;
  --va-input-disabled-opacity: 0.4;

  /* Label */
  --va-input-container-label-max-width: calc(100% - 0.75rem);
  --va-input-container-label-color: #4ae387;
  --va-input-container-label-font-size: 0.6rem;
  --va-input-container-label-letter-spacing: 0.0375rem;
  --va-input-container-label-line-height: 1.2;
  --va-input-container-label-font-weight: 700;
  --va-input-container-label-text-transform: uppercase;
  --va-input-container-label-transform-origin: top left;
}
