:root,
:host {
  /* Input&Textarea */
  --va-input-line-height: 20px;
  --va-input-font-size: 1rem;
  --va-input-font-weight: normal;
  --va-input-font-style: normal;
  --va-input-font-stretch: normal;
  --va-input-letter-spacing: normal;
  --va-input-disabled-opacity: 0.4;
}
