@import '../resources/index.scss';

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
