:root,
:host {
  /* Primary */
  --va-border: 0;
  --va-font-family: 'Source Sans Pro', sans-serif;
  --va-letter-spacing: 0.0375rem;

  /* Primary block-type items styles */
  --va-block-border-radius: 0.375rem;
  --va-block-border: thin solid rgba(52, 56, 85, 0.25);
  --va-block-box-shadow: 0 2px 3px 0 rgba(52, 56, 85, 0.25);

  /* Primary control-type items styles */
  --va-control-box-shadow: none;
  --va-control-border: 0;

  /* Transition */
  --va-transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1); /* ease-in-out */
  --va-swing-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1); /* swing */

  /* Outline */
  --va-outline-border-width: 0.125rem;
  --va-outline-box-shadow: none;

  /* Square */
  --va-square-border-radius: 0.25rem;
  --va-form-padding: 1.25rem;
  --va-form-border-radius: 0.125rem;

  /* Typography */
  --va-text-selected: #b3d4fc;
  --va-text-highlighted: #ffc5274e;
  --va-link-color: var(--va-primary);
  --va-link-color-secondary: var(--va-secondary);
  --va-link-color-hover: var(--va-primary-lighten, --va-primary);
  --va-link-color-active: var(--va-primary); // And this on too
  --va-link-color-visited: var(--va-primary-darken, --va-primary); // And this on too
  --va-muted: #7f828b;
  --va-li-background: var(--va-primary);
  --va-text-block: var(--va-background-element);

  /* Borders */
  --va-stripe-border-size: 0.25rem;

  /* Shadows */
  --va-box-shadow: 0 0.25rem 0.5rem 0 var(--va-shadow);

  /* Z-indexes */
  --va-z-index-teleport-overlay: 1000;

  /* Sizes */
  --va-form-element-min-width: 50px;
  --va-form-element-default-width: 250px;
  --va-form-element-default-width-small: 120px;
  --va-form-element-border-width: 1px;
  --va-form-element-border-radius: 0.25rem;

  /* Colors */
  // Accent
  --va-primary: #154ec1;
  --va-secondary: #767c88;
  --va-success: #3d9209;
  --va-info: #158de3;
  --va-danger: #e42222;
  --va-warning: #ffd43a;

  // Background Colors
  --va-background-primary: #f6f6f6;
  --va-background-secondary: #ffffff;
  --va-background-element: #ebf1f4;
  --va-background-border: #dee5f2;

  // Text Colors
  --va-text-primary: #262824;
  --va-text-inverted: #ffffff;

  // Misc
  --va-shadow: rgba(0, 0, 0, 0.12);
  --va-focus: #49a8ff;
}
