@import "../resources/variables";
@import "../resources/mixins";

::selection {
  background-color: var(--va-text-selected);
  color: var(--va-white);
}

.link {
  color: var(--va-link-color);
}

.link-secondary {
  color: var(--va-link-color-secondary) !important;
}

.link,
.link-secondary {
  cursor: pointer;

  &:hover {
    color: var(--va-link-color-hover) !important;
  }

  &:active {
    color: var(--va-link-color-active) !important;
  }

  &:visited {
    color: var(--va-link-color-visited) !important;
  }
}

.title {
  @include va-title();

  &--va-info {
    color: var(--va-info);
  }

  &--va-danger {
    color: var(--va-danger);
  }

  &--va-warning {
    color: var(--va-warning);
  }

  &--va-gray {
    color: var(--brand-gray);
  }
}

.text {
  &--bold {
    font-weight: $font-weight-bold;
  }

  &--highlighted {
    background-color: var(--va-text-highlighted);
  }

  &--left {
    text-align: left !important;
  }

  &--right {
    text-align: right !important;
  }

  &--center {
    text-align: center !important;
  }

  &--uppercase {
    text-transform: uppercase !important;
  }

  &--lowercase {
    text-transform: lowercase !important;
  }

  &--capitalize {
    text-transform: capitalize !important;
  }

  &--no-wrap {
    white-space: nowrap !important;
  }

  &--truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  &--code {
    color: var(--va-white);
    font-family: "Source Code Pro";
    background-color: $vue-darkest-blue;
    padding: 0.1rem 0.2rem;
  }

  &--secondary {
    opacity: 0.4;
  }
}

.va-blockquote {
  border-left: 0.25rem solid var(--va-primary);
  border-radius: 0.125rem;
  padding: 0.4rem 0 0.4rem 0.8rem;
  color: $blockquote-font-color;

  p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@each $element, $size in $display-font-sizes {
  .display-#{$element} {
    @include va-display($element);
  }
}

.code-snippet {
  @include va-code-snippet();
}

ul.va-unordered {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;

  ul.va-unordered,
  ol.va-ordered {
    margin-bottom: 0;
    margin-top: 0;
  }

  & > li {
    padding-left: 1rem;
    position: relative;

    &::before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 0.5rem;
      background-color: var(--va-li-background);
    }
  }
}

ol.va-ordered {
  margin-bottom: 1rem;
  padding: 0;
  counter-reset: olCounter;

  ul.va-unordered,
  ol.va-ordered {
    margin-bottom: 0;
    margin-top: 0;
  }

  & > li {
    list-style: none;
    padding: 0 1rem;

    &::before {
      counter-increment: olCounter;
      content: counter(olCounter) ". ";
      display: inline-block;
      min-width: 0.75rem;
      height: 0.75rem;
      position: relative;
      right: 1rem;
      margin-right: -0.75em;
    }
  }
}

.va-table {
  @include va-table();
}

.text-block {
  padding: 1.2rem;
  background-color: var(--va-text-block);
}

.muted {
  color: var(--va-muted);
}
