:root {
  /* General */
  --va-breadcrumb-item-display: inline-flex;
  --va-breadcrumb-item-color: inherit;

  /* Hovered */
  --va-breadcrumb-item-hover-opacity: 0.7;

  /* Focused */
  --va-breadcrumb-item-focus-text-decoration: underline;
}
