:root {
  --va-button-group-display: flex;
  --va-button-group-justify-content: stretch;
  --va-button-group-border-radius: 1.5rem;
  /*Button*/
  --va-button-group-button-margin: 0;
  /*Large*/
  --va-button-group-lg-border-radius: 2rem;
  /*Small*/
  --va-button-group-sm-border-radius: 1rem;
}
