:root {
  --va-collapse-transition: all 0.3s linear;
  --va-collapse-popout-margin: -0.5rem;
  --va-collapse-popout-padding-top: 1rem;
  --va-collapse-popout-inset: 0.5rem;
  --va-collapse-body-transition: all 0.3s linear;
  --va-collapse-body-overflow: hidden;
  --va-collapse-body-margin-top: 0.1rem;
  --va-collapse-header-content-display: flex;
  --va-collapse-header-content-justify-content: space-between;
  --va-collapse-header-content-cursor: pointer;
  --va-collapse-header-content-background-color: #f5f8f9;
  --va-collapse-header-content-box-shadow: 0 2px 3px 0 rgba(98, 106, 119, 0.25);
  --va-collapse-header-content-border-radius: 0.375rem;
  --va-collapse-header-content-align-items: center;
  --va-collapse-header-content-padding-top: 0.75rem;
  --va-collapse-header-content-padding-bottom: 0.75rem;
  --va-collapse-header-content-padding-left: 1rem;
  --va-collapse-header-content-text-width: 100%;
  --va-collapse-header-content-icon-min-width: 1.5rem;
  --va-collapse-header-content-icon-margin-left: 0.5rem;
  --va-collapse-header-content-icon-margin-right: 0.5rem;
  --va-collapse-header-content-icon-color: #adb3b9;

  /* Solid */
  --va-collapse-solid-box-shadow: 0 2px 3px 0 rgba(98, 106, 119, 0.25);
  --va-collapse-solid-border-radius: 0.375rem;
  --va-collapse-solid-header-content-background-color: #f5f8f9;
  --va-collapse-solid-header-content-box-shadow: none;
  --va-collapse-solid-header-content-border-radius: 0.375rem;
  --va-collapse-solid-header-content-transition: ease-in 0.3s;
  --va-collapse-solid-body-border-radius: 0 0 0.375rem 0.375rem;
  --va-collapse-solid-body-margin-top: 0;
}
