:root,
:host {
  --va-app-bar-position: relative;
  --va-app-bar-height: auto;
  --va-app-bar-shadow: 0 0 12px 2px;
  --va-app-bar-z-index: calc(var(--va-z-index-teleport-overlay) - 100);
  --va-app-bar-transition: transform 0.5s ease;
}
