:root,
:host {
  --va-file-upload-gallery-item-card-box-shadow: var(--va-box-shadow);
  --va-file-upload-gallery-item-text: var(--va-text-primary);
  --va-file-upload-gallery-item-text-hover: var(--va-text-inverted);
}
