:root {
  --square-with-icon-display: flex;
  --square-with-icon-justify-content: center;
  --square-with-icon-align-items: center;
  --square-with-icon-color: #ffffff;
  --square-with-icon-background-color: #4ae387;
  --square-with-icon-border-radius: 0.25rem;
  --square-with-icon-width: 1.375rem;
  --square-with-icon-height: 1.375rem;
}
