:root {
  /*General*/
  --va-backtop-position: fixed;
  --va-backtop-top: auto;
  --va-backtop-left: auto;
  --va-backtop-right: auto;
  --va-backtop-bottom: auto;
  --va-backtop-cursor: pointer;
  --va-backtop-z-index: 3;
}
