:root{
  --va-popover-display: inline-block;

  --va-popover-content-opacity: 1;
  --va-popover-content-display: flex;
  --va-popover-content-align-items: center;
  --va-popover-content-padding: 0.65rem 1rem;
  --va-popover-content-border-radius: 0.5rem;
  --va-popover-content-font-size: 1rem;

  --va-popover-content-wrapper-background-color: #ffffff;
  --va-popover-content-wrapper-border-radius: 0.5rem;

  --va-popover-title-font-weight: 700;
  --va-popover-title-margin-bottom: 0.125rem;
}
