:root {
  --va-date-picker-position: relative;
  --va-date-picker-container-display: flex;
  --va-date-picker-container-position: relative;
  --va-date-picker-container-flex-wrap: wrap;
  --va-date-picker-icon-position: absolute;
  --va-date-picker-icon-right: 0;
  --va-date-picker-icon-top: 0;
  --va-date-picker-icon-border-radius: 0 0.5rem 0 0;
  --va-date-picker-icon-border-bottom: 1px solid #babfc2;
  --va-date-picker-icon-color: #babfc2;
  --va-date-picker-icon-padding: 0.5rem;
  --va-date-picker-icon-height: 2.375rem;
  --va-date-picker-icon-cursor: pointer;
  --va-date-picker-icon-background-color: #f5f8f9;
  --va-date-picker-icon-width: 2.2rem;
}
