:root {
  --va-stepper-inactive-step-color: var(--va-secondary);
  --va-stepper-divider-color: var(--va-secondary);
  --va-stepper-step-hover-highlight-opacity: 0.1;
  --va-stepper-step-disabled-opacity: 0.5;
  --va-stepper-step-padding: 1rem;
  --va-stepper-icon-size: 2rem;
  --va-stepper-step-number-size: 1.2rem;
  --va-stepper-divider-size: 100%;
  --va-stepper-divider-min-size: 2rem;
  --va-stepper-vertical-divider-margin-left: 2rem;
}
