:root {
  --va-stepper-step-button-inactive-color: var(--va-secondary);
  --va-stepper-step-button-hover-highlight-opacity: 0.1;
  --va-stepper-step-button-disabled-opacity: 0.5;
  --va-stepper-step-button-padding: 1rem;
  --va-stepper-step-button-number-size: 1.2rem;
  --va-stepper-step-button-icon-size: 2rem;
  --va-stepper-step-button-gap: 0.5rem;
  --va-stepper-step-button-icon-border-radius: 100%;
  --va-stepper-step-border-radius: var(--va-square-border-radius);
  --va-stepper-divider-color: var(--va-secondary);
  --va-stepper-divider-length: auto;
  --va-stepper-divider-min-length: 2rem;
  --va-stepper-divider-thickness: 1px;
  --va-stepper-divider-spacing: 0.5rem;
  --va-stepper-divider-vertical-margin-left: 2rem;
  --va-stepper-step-content-wrapper-padding: 0.5rem 1rem;
  --va-stepper-step-content-margin: 0.8rem 0 2rem;
  --va-stepper-controls-gap: 1rem;
}
