:root {
  /* Colors */
  --va-date-picker-color: var(--va-primary);
  --va-date-picker-secondary: var(--va-secondary);
  --va-date-picker-white: var(--va-white);
  --va-date-picker-weekends-color: var(--va-danger);
  --va-date-picker-text-color: var(--va-dark);
  --va-date-picker-cell-size: 34px;
}
