:root {
  --va-timeline-display: flex;
  --va-timeline-flex-wrap: nowrap;

  /* Vertical */
  --va-timeline-vertical-flex-direction: column;
  --va-timeline-vertical-padding-left: 0.25rem;
  --va-timeline-vertical-padding-right: 0.25rem;
}
