@import "~vuestic-ui/dist/styles/resources";

//
// See: https://github.com/ag-grid/ag-grid/blob/latest/community-modules/core/src/styles/ag-theme-base/sass/parts/_header.scss
//
@mixin ag-vuestic-theme-part-header {
  .ag-header {
    border-bottom-width: 2px;
    .ag-header-cell-label {
      padding: 0;
      border: none;
    }
  }

  .ag-header-cell-label,
  .ag-header-group-cell-label {
    @include va-title();
  }

  .ag-keyboard-focus .ag-header-cell {
    &:focus {
      background: $light-gray;

      &::after {
        display: none;
      }
    }
  }

  .ag-ltr,
  .ag-rtl {
    .ag-floating-filter-button {
      margin: 0;
      height: 70%;
    }

    .ag-floating-filter-button-button {
      height: 100%;
      width: 20px;
    }
  }
}
