:root {
  --va-checkbox-display: inline-block;
  --va-checkbox-input-padding: 0;
  --va-checkbox-input-cursor: pointer;
  --va-checkbox-disabled-cursor: default;
  --va-checkbox-readonly-cursor: initial;
  --va-checkbox-label-display: inline-block;
  --va-checkbox-font-size: 15px;
  --va-checkbox-line-height: 20px;

  /* Square */
  --va-checkbox-square-width: 1.35rem;
  --va-checkbox-square-min-width: 1.35rem;
  --va-checkbox-square-height: 1.35rem;
  --va-checkbox-square-background-color: var(--va-background-element);
  --va-checkbox-square-border: solid 0.125rem var(--va-background-border);
  --va-checkbox-square-border-radius: 0.25rem;
}
