:root,
:host {
  --va-checkbox-display: inline-block;
  --va-checkbox-input-padding: 0;
  --va-checkbox-input-cursor: pointer;
  --va-checkbox-disabled-cursor: default;
  --va-checkbox-readonly-cursor: initial;
  --va-checkbox-label-display: inline-block;
  --va-checkbox-font-size: 15px;
  --va-checkbox-line-height: 20px;
  --va-checkbox-background: transparent;

  /* Square */
  --va-checkbox-square-width: 1.25rem;
  --va-checkbox-square-min-width: 1.25rem;
  --va-checkbox-square-height: 1.25rem;
  --va-checkbox-square-border: solid var(--va-form-element-border-width) var(--va-background-border);
  --va-checkbox-square-border-radius: calc(var(--va-form-element-border-radius) / 2);
}
