:root{
  --va-tree-node-display: flex;
  --va-tree-node-align-items: center;

  /*Label*/
  --va-tree-node-label-flex-grow: 1;
  --va-tree-node-label-word-wrap: break-word;
  --va-tree-node-label-overflow: hidden;
  --va-tree-node-label-highlighted-bg: #dbf9e8;

  /*Icon*/
  --va-tree-node-icon-margin-right: 0.5rem;
}
