:root {
  /* Footer */
  --va-data-table-footer-display: flex;
  --va-data-table-footer-flex-direction: row;
  --va-data-table-footer-align-items: center;
  --va-data-table-footer-justify-content: space-between;
  --va-data-table-footer-margin-top: 1rem;

  /* Header */
  --va-data-table-header-cell-display: flex;
  --va-data-table-header-cell-align-items: center;
  --va-data-table-header-icon-opacity: 0;
  --va-data-table-header-cell-sortable-cursor: pointer;
}
