:root {
  --va-button-group-display: flex;
  --va-button-group-justify-content: stretch;
  --va-button-group-border-radius: 999px;
  --va-button-group-gap: 0.25rem;

  /* Button */
  --va-button-group-button-margin: 0;
  --va-button-group-button-width: auto;
  --va-button-group-button-padding: 0.25rem;
}
