:root {
  --va-button-group-display: flex;
  --va-button-group-justify-content: stretch;
  --va-button-group-border-radius: var(--va-border-radius-circle-fixed);

  /* Button */
  --va-button-group-button-margin: 0;
}
