:root,
:host {
  --va-message-list-icon-margin-right: 0.25rem;
  --va-message-list-color: var(--va-secondary);
  --va-message-list-font-size: 13px;
  --va-message-list-line-height: 1.2rem;
  --va-message-wrapper-margin-top: 0.5rem;
}
