:root {
  --inner-loading-position: relative;
  --inner-loading-min-width: fit-content;
  --inner-loading-width: 100%;
  --inner-loading-overlay-display: flex;
  --inner-loading-overlay-align-items: center;
  --inner-loading-overlay-justify-content: center;
  --inner-loading-overlay-position: absolute;
  --inner-loading-overlay-top: 0;
  --inner-loading-overlay-bottom: 0;
  --inner-loading-overlay-width: 100%;
  --inner-loading-overlay-background: rgba(255, 255, 255, 0.5);
}
