:root {
  --va-chip-display: inline-flex;
  --va-chip-border: 0.125rem solid transparent;
  --va-chip-position: relative;
  --va-chip-border-radius: 2rem;
  --va-chip-width: auto;
  --va-chip-height: auto;
  --va-chip-min-width: initial;
  --va-chip-min-height: initial;
  --va-chip-padding: 0 0.3rem;
  --va-chip-color: #ffffff;
  --va-chip-cursor: default;
  --va-chip-font-size: 1rem;
  --va-chip-inner-display: flex;
  --va-chip-inner-align-items: center;
  --va-chip-inner-width: 100%;
  --va-chip-hover-opacity: 0.85;
  --va-chip-content-display: flex;
  --va-chip-content-width: var(--va-chip-inner-width, 100%);
  --va-chip-content-align-items: center;
  --va-chip-content-justify-content: center;
  --va-chip-content-padding: 0 0.3rem;
  --va-chip-content-line-height: 1.6;
  /*Square*/
  --va-chip-square-border-radius: 0.2rem;
  /*Small*/
  --va-sm-chip-height: 1.5rem;
  --va-sm-chip-font-size: 0.875rem;

  /*Large*/
  --va-lg-chip-height: 2.5rem;
  --va-lg-chip-font-size: 1.25rem;

}
